<p>home works!</p>

<div id="header">
    <div id="left-align">
        <div>Great Coffee made  Simple</div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore illum consequuntur harum nemo. Reprehenderit quia labore repellendus asperiores maxime ipsum suscipit iure aut ducimus autem cumque, culpa magni ipsam eligendi.z</p>
        <button>Create your plan</button>
    </div>
    <div id="collection-wrapper">
        <div class="card">
            <img src="../../../assets/images.jpeg" alt="esperesso">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusantium aut inventore vel, perspiciatis fugit repellat quas consequatur repudiandae provident assumenda? Eius ipsa maiores laboriosam excepturi quidem quas, magni maxime!</p>

        </div>
        <div class="card">
            <img src="../../../assets/images.jpeg" alt="esperesso">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusantium aut inventore vel, perspiciatis fugit repellat quas consequatur repudiandae provident assumenda? Eius ipsa maiores laboriosam excepturi quidem quas, magni maxime!</p>

        </div>
        <div class="card">
            <img src="../../../assets/images.jpeg" alt="esperesso">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusantium aut inventore vel, perspiciatis fugit repellat quas consequatur repudiandae provident assumenda? Eius ipsa maiores laboriosam excepturi quidem quas, magni maxime!</p>

        </div>
        <div class="card">
            <img src="../../../assets/images.jpeg" alt="esperesso">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusantium aut inventore vel, perspiciatis fugit repellat quas consequatur repudiandae provident assumenda? Eius ipsa maiores laboriosam excepturi quidem quas, magni maxime!</p>

        </div>


    </div>

    <div id="choose-us">
        <div>
            <h3>Why Choose Us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque incidunt libero, exercitationem est aperiam maxime fugit quaerat reprehenderit perferendis possimus ad dignissimos eius veritatis quae delectus eum inventore. Laborum, non.</p>
        </div>

    </div>
    <div id="features-wrapper">
        <div>Best quality card</div>
        <div>Exclusive benefits</div>
        <div>Free Shipping</div>
    </div>
    <div id="How-it-works-plan-wrapper">
        <div class="01-card">
            <p>01</p>
            <h3>Pick your coffee</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam hic debitis mollitia sunt ad officia voluptatibus impedit esse voluptatum iste non id architecto quibusdam incidunt, sit perspiciatis iure quaerat aut?</p>
        </div>
        <div class="01-card">
            <p>01</p>
            <h3>Pick your coffee</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam hic debitis mollitia sunt ad officia voluptatibus impedit esse voluptatum iste non id architecto quibusdam incidunt, sit perspiciatis iure quaerat aut?</p>
        </div>
        <div class="01-card">
            <p>01</p>
            <h3>Pick your coffee</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam hic debitis mollitia sunt ad officia voluptatibus impedit esse voluptatum iste non id architecto quibusdam incidunt, sit perspiciatis iure quaerat aut?</p>
        </div>
        <button>create your plan</button>
    </div>
<app-innerpages></app-innerpages>
   
  
</div>
